* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', sans-serif, Arial, Helvetica;
}

body {
    min-height: 100vh;
}

ul {
    list-style-type: none;
    gap: 15px;
    /* Flexbox properties */
    display: flex;
}

a {
    color: #ffffff;
    text-decoration: none;
}

button {
    font-size: 18px;
    color: #ffffff;
    padding: 8px 24px;
    background-color: #a28364;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button:hover {
    color:#a28364;
    background-color: #ffffff;
}

.page {
    display: flex;
    flex-direction: column;
}

/* Selectors relating to the header section */

.header {
    color: #ffffff;
    background-color: #614234;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
}

.header .top {
    padding: 15px 165px 100px;
    /* Flexbox properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .top .logo {
    font-size: 24px;
}

.header .top .links {
    font-size: 18px;
}

.header .content {
    padding: 0 165px 100px;
    gap: 45px;
    /* Flexbox properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .content .left-container {
    width: 50%;
    height: auto;
    gap: 15px;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .content .title {
    font-size: 48px;
    font-weight: 800;
}

.header .content .info {
    font-size: 18px;
}

.header .content .right-container {
    width: 50%;
    height: 200px;
    background-color: #9a9a9a;
    /* Flexbox properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Selectors relating to the services section */

/*
    Code goes here 
*/

/* Selectors relating to the testimonial section */

/*
    Code goes here 
*/

/* Selectors relating to the action section */

/*
    Code goes here 
*/

/* Selectors relating to the footer section */

/*
    Code goes here 
*/