* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

ul {
    list-style-type: none;
    gap: 15px;
    /* Flexbox properties */
    display: flex;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #e0c3ac;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
}

.header .top {
    padding: 15px 165px 100px;
    /* Flexbox properties */
    display: flex;
    justify-content: space-between;
}

.header .content {
    padding: 0 165px 100px;
    gap: 45px;
    /* Flexbox properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .content .left-container {
    width: 50%;
    height: 200px;
    gap: 15px;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .content .right-container {
    width: 50%;
    height: 200px;
    background-color: #eeeeee;
    /* Flexbox properties */
    display: flex;
    justify-content: center;
    align-items: center;
}