* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', sans-serif, Arial, Helvetica;
}

body {
    min-width: 100vh;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    gap: 15px;
    /* Flexbox properties */
    display: flex;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #a28364;
}

.page {
    display: flex;
    flex-direction: column;
}

/*
*
    Selectors relating to the header section
*
*/

.header {
    color: #ffffff;
    background-color: #614234;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
}

/* Selectors relating to the top part of the header */

.header .heading-container {
    padding: 15px 165px 100px;
    /* Flexbox properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo-container {
    padding-right: 15px;
    gap: 15px;
    /* Flexbox properties */
    display: flex;
    align-items: center;
}

.header .logo-container .image {
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}

.header .logo-container .business-title {
    font-size: 24px;
}

.header .logo-container .links {
    font-size: 18px;
    padding-left: 15px;
}

/* Selectors relating to the main content of the header */

.header .content-container {
    padding: 0 165px 100px;
    gap: 45px;
    /* Flexbox properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .left-container {
    min-width: 300px;
    height: auto;
    gap: 15px;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.header .left-container .business-title {
    font-size: 48px;
    font-weight: 800;
}

.header .left-container .text {
    font-size: 18px;
}

.header .left-container button {
    font-size: 18px;
    color: #ffffff;
    padding: 8px 24px;
    background-color: #a28364;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.header .left-container button:hover {
    color:#a28364;
    background-color: #ffffff;
}

.header .right-container {
    min-width: 300px;
    height: auto;
    /* Flexbox properties */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header .right-container .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
*
    Selectors relating to the services section
*
*/

.services {
    padding: 50px 215px 100px;
    gap: 50px;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .section-title {
    font-size: 36px;
    font-weight: 800;
    color: #614234;
}

/* Selectors relating to the main content of the services section */

.services .content-container {
    width: 100%;
    height: auto;
    font-size: 18px;
    color: #614234;
    text-align: center;
    gap: 30px;
    /* Flexbox properties */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services .content-container .daycare,
.services .content-container .boarding,
.services .content-container .grooming,
.services .content-container .training {
    min-width: 175px;
    max-width: 300px;
    height: auto;
    gap: 15px;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.services .content-container .image-container {
    width: 100%;
    height: auto;
    /* Flexbox properties */
    display: flex;
    justify-content: center;
}

.services .content-container .image {
    min-width: 175px;
    max-width: 150px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* Flexbox properties */
    flex: 1;
}

/*
*
    Selectors relating to the testimonial section
*
*/

.testimonial {
    font-size: 36px;
    color: #614234;
    background-color: #d7d0c6;
    padding: 100px 245px;
}

.testimonial .content-container {
    gap: 15px;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.testimonial .content-container .quote,
.testimonial .content-container .author {
    min-width: 300px;
    height: auto;
    flex: 1;
}

.testimonial .content-container .author {
    text-align: end;
}

/*
*
    Selectors relating to the action section
*
*/

.action {
    padding: 100px 185px;
}

.action .content-container {
    background-color: #a28364;
    padding: 30px 60px;
    gap: 30px;
    border-radius: 10px;
    /* Flexbox properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Flexbox properties */
    flex-wrap: wrap;
}

.action .content-container .text-container {
    min-width: 150px;
    height: auto;
    font-size: 18px;
    color: #ffffff;
    gap: 5px;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.action .content-container button {
    min-width: 150px;
    height: auto;
    font-size: 18px;
    color: #ffffff;
    padding: 8px 24px;
    background-color: #a28364;
    border: 2px solid #ffffff;
    border-radius: 10px;
    transition-duration: 0.4s;
    /* Flexbox properties */
    flex: 1;
}

.action .content-container button:hover {
    color:#a28364;
    background-color: #ffffff;
}

/*
*
    Selectors relating to the footer section
*
*/

.footer {
    color: #ffffff;
    gap: 15px;
    background-color: #614234;
    padding: 30px 0;
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}